div.project-card {
    background-color: #E9ECEF;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 0px 15px #0003;
    box-sizing: border-box;

    width: 350px;
    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

div.project-card img {
    width: 100%;
}

div.project-card h2.project-title {
    margin-block-start: 0;
    margin-block-end: 0;
}

div.project-card a.project-link {
    text-decoration: none;
    text-align: center;
    font-family: 'Saira', sans-serif;
    font-size: 1.2rem;
    color: #001845;
}

div.project-card a.git-link {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: #001845;
    margin-bottom: 10px;
}

div.project-card p.project-description {
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.4rem;
}

@media (max-height: 760px) {
    div.project-card {
        width: 250px;
        margin: 5px;
    }

    div.project-card a.project-link {
        font-size: 1rem;
    }

    div.project-card p.project-description {
        padding: 5px;
    }

    div.project-card a.git-link {
        font-size: 1.8rem;
        margin-bottom: 5px;
    }
}