nav.menu {
    background-color: #F8F9FA;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
    width: 340px;
    margin-top: 20px;
    padding: 0;
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu > ul {
    padding-inline-start: 0px;
    width: 100%;
    margin: 0;
}

hr {
    width: 80%;
    color: #001845;
    margin-top: 0;
    margin-bottom: 0;
}