div.social-info {
    color: #F8F9FA;
    font-size: 45px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

div.social-info a {
    text-decoration: none;
    color: #F8F9FA;
}

