div.social-info {
    color: #F8F9FA;
    font-size: 45px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.social-info a {
    text-decoration: none;
    color: #F8F9FA;
}

@media (max-width: 600px) {
    div.social-info {
        font-size: 25px;
        width: 100px;
    }
}