.site-footer {
    grid-area: foot;
    background-color: #E9ECEF;
    margin: 0;
    color: #001845;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}